mixin deposits(mods)
  -
    const baseName = 'deposits'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const depositsData = [
      {
        id: 'deposit_classic',
        name: 'Классический',
        descr: 'Депозит на срок <span class="text-orange">от 1 до 1825 дней</span> с максимальной доходностью',
        ul: [
          'Максимальная процентная ставка (среди депозитов АТБ)',
          'В рублях, долларах, евро, китайских юанях',
          'Срок до 5 лет',
        ],
        terms: [
          { name: 'Валюта', descr: 'Рубли, Доллары США, Евро, Китайские юани' },
          { name: 'Минимальная сумма', descr: 'Без ограничений / от 6&nbsp;000 китайских юаней' },
          { name: 'Максимальная сумма', descr: 'до 1&nbsp;млрд., свыше - по индивидуальному согласованию банка' },
          { name: 'Срок депозита', descr: 'Рубли - от 1 до 1825 дней, <br>Доллары США, Евро, Китайские юани - от 31 до 1825 дней' },
          { name: 'Периодичность выплаты', descr: 'Ежемесячно/в конце срока' },
          { name: 'Дополнительные взносы', descr: 'Не допускаются' },
          { name: 'Частичное снятие', descr: 'Не допускаются' },
          { name: 'Досрочное расторжение', descr: 'Не допускаются' },
          { name: 'Процентная ставка', descr: 'Устанавливается индивидуально' },
        ],
      },
      {
        id: 'deposit_refillable',
        name: 'Пополняемый',
        descr: 'Депозит на срок <span class="text-orange">от 91 дня</span> с возможностью пополнения',
        ul: [
          'Возможность пополнения в течение всего срока',
          'По мере сокращения срока депозита клиент имеет возможность пополнять его за счет «коротких» ресурсов, при этом получая проценты по ставке «длинного» срока',
        ],
        terms: [
          { name: 'Валюта', descr: 'Рубли' },
          { name: 'Минимальная сумма', descr: 'Без ограничений' },
          { name: 'Максимальная сумма', descr: 'до 1&nbsp;млрд., свыше - по индивидуальному согласованию Банка' },
          { name: 'Срок депозита', descr: 'От 91 до 730 дней' },
          { name: 'Периодичность выплаты', descr: 'Ежемесячно/в конце срока' },
          { name: 'Дополнительные взносы', descr: 'До 1&nbsp;млрд.' },
          { name: 'Частичное снятие', descr: 'Не допускаются' },
          { name: 'Досрочное расторжение', descr: 'Не допускаются' },
          { name: 'Процентная ставка', descr: 'Устанавливается индивидуально' },
        ],
      },
      {
        id: 'deposit_operative',
        name: 'Оперативный',
        descr: 'Оперативное пополнение и досрочный отзыв до минимальной суммы с сохранением доходности',
        ul: [
          'Свобода распоряжения денежными средствами',
          'Возможность пополнения депозита и снятия средств в течение всего срока',
        ],
        terms: [
          { name: 'Валюта', descr: 'Рубли' },
          { name: 'Минимальная сумма', descr: 'Без ограничений' },
          { name: 'Максимальная сумма', descr: 'Определяется с учетом дополнительных взносов в соответствии с градацией сумм размещения' },
          { name: 'Срок депозита', descr: 'От 91 до 730 дней' },
          { name: 'Периодичность выплаты', descr: 'Ежемесячно/в конце срока' },
          { name: 'Дополнительные взносы', descr: 'Определяются в соответствии с градацией сумм размещения' },
          { name: 'Частичное снятие', descr: 'Допускается до минимальной суммы размещения депозита в соответствии с градацией сумм размещения.' },
          { name: 'Досрочное расторжение', descr: 'Не допускаются' },
          { name: 'Процентная ставка', descr: 'Устанавливается индивидуально' },
        ],
      },
    ]

  .deposits(class=allMods)&attributes(attributes)
    each item, index in depositsData
      .deposits__item(id=item.id)
        .deposits__img
          img(src='img/deposit_img.jpg', alt='')
        .deposits__content
          .deposits__head
            .deposits__name=item.name
            +ui-p2(item.descr)
          +ui-ul(item.ul, 'deposits, --li-mb10')
          +terms(item.terms, 'deposits')(data-expand-block=`deposits_${index}`)
          .deposits__nav
            +ui-button('открыть депозит', '--empty')(href='#form-section')
            +ui-button('Подробнее', '--expand')(data-expand-btn=`deposits_${index}` data-start-text='Подробнее' data-end-text='Скрыть')
    block
