mixin useful-goods(usefulGoods, mods)
  -
    const baseName = 'useful-goods'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .useful-goods(class=allMods)&attributes(attributes)
    .useful-goods__slider
      .swiper
        .swiper-wrapper
          each item in usefulGoods
            .useful-goods__item.swiper-slide(class=item.mod ? `useful-goods__item--${item.mod}` : '' class=item.imgMob ? 'useful-goods__item--mob-img' : '')
              .useful-goods__content
                .useful-goods__title !{item.title}
                if item.p2
                  +ui-p2(item.p2, 'useful-goods, --l-fz-l')
                if item.list
                  ul.ui-ul.useful-goods__ui-ul
                    each itemLi in item.list
                      li
                        .useful-goods__ui-ul-title !{itemLi.title}
                        .useful-goods__ui-ul-descr !{itemLi.descr}
                +ui-button(item.btn, 'useful-goods, --white')(href='#')
              .useful-goods__img
                if item.imgMob
                  img.useful-goods__img-desktop(src=`img/${item.img}` alt='')
                  img.useful-goods__img-mobile(src=`img/${item.imgMob}` alt='')
                else
                  img(src=`img/${item.img}` alt='')
      .swiper-btn-prev
      .swiper-btn-next
    .swiper-pagination
    block
