mixin compare-express(mods)
  -
    const baseName = 'compare-express'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .compare-express(class=allMods)&attributes(attributes)
    block

mixin compare-express-item(head, body, mods)
  -
    const baseName = 'compare-express-item'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .compare-express-item(class=allMods)&attributes(attributes)
    if head
      +compare-express-head(head)
    +compare-express-body(body, )
    block

mixin compare-express-head(headItem, mods)
  -
    const baseName = 'compare-express-head'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .compare-express-head(class=allMods)&attributes(attributes)
    .compare-express-head__item
      .compare-express-head__text
        +ui-p1(headItem.title, '--bold')
        +ui-button(headItem.buttonText, 'compare-express, --outline, --ph-s')
      .compare-express-head__image 
        img(src=headItem.img alt='')
    block

mixin compare-express-body(body, isLeft, mods)
  -
    const baseName = 'compare-express-body'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .compare-express-body(class=allMods)&attributes(attributes)
    each bodyItem in body
      if isLeft
        .compare-express-body__item
          +ui-p1(bodyItem.text, '--bold')
      else 
        .compare-express-body__item
          +ui-p1(bodyItem.text)
    block
